body, td {
	text-decoration: none; font-family: Verdana,Arial,Helvetica; font-size: 13px; color: #5A1B27;
	SCROLLBAR-FACE-COLOR: #fbc1c1;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #580606;
	SCROLLBAR-3DLIGHT-COLOR: #580606;
	SCROLLBAR-ARROW-COLOR: #580606;
	SCROLLBAR-TRACK-COLOR: #FFFFFF;
	SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
	SCROLLBAR-BASE-COLOR: #580606;
}

INPUT, TEXTAREA, SUBMIT, SELECT {
	font-family: Verdana,Arial,Helvetica;
	font-size: 11px;
	border:1 solid #000000;
	background-color: #FFFFFF;
}

a:active {
	text-decoration: underline; color: #742333;
}

#menu {
	font-family: Verdana; 
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	padding:5px 12px; 
}

#menu a:hover{
	color: #fff;
}
#menu a:link{
	color: #fff;
}
a:visited {
	text-decoration: underline; color: #742333;
}

a:link {
	text-decoration: underline; color: #742333;
}

a:hover {
	text-decoration: none; color: #742333;
}

.judul{
	font-family: Verdana,Arial,Helvetica;
	font-size: 12px;
	font-weight: bold;
}



.read {
	font-family: Arial;
	font-size: 14px;
	padding:5px 12px; 
}

.boxbar{
	padding:5px 12px; border:1px; border-bottom-color:#99CC33; border-bottom-style:none; font-family:verdana; font-size:12px; font-weight:bold
}

.box1{
	padding:5px 12px; border:1px; border-bottom-color:#99CC33; border-bottom-style:none
}


.box2 {
	padding:3px 12px; border:1px; border-bottom-color:#D0CFD7
}

.box3 { 
	padding:5px 12px; border:2px; border-bottom-color:#D0CFD7; border-bottom-style:solid; background-color:#dfdfdf
}

.box4 {
	padding:3px 12px; border:1px; border-bottom-color:#D0CFD7; border-bottom-style:dotted
}

.box5 {
	padding:3px 12px; border:1px; border-bottom-color:#D0CFD7
}

.box6 {
	padding:3px 3px; border:1px; border-bottom-color:#99CC33; border-bottom-style:dotted
}

.separator {
	padding:5px 12px; border:1px; border-bottom-color:#02486a; border-bottom-style:dotted
}

.jd {
	font-family: Trebuchet;
	font-size: 23px;
	color: #e7e8e8;
	font-weight: bold;
	background-color: #7C7C7C;
	padding:2px 5px;
	border: 5 solid: #D1F19A;
}

.style1 {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
.style2 {
	font-size: 10px;
	color: #efefef;
	font-weight: bold;
}